body {
    background-color: #5d7cbd;
}
.navbar,.navbar .active {
    background-color: #dddddd !important;
}
#maincontent {
    background-color: #EAEAEA;
    min-height: 80%;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 1.2em;
}